version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_ragops
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage
    restart: unless-stopped

# docker run -d --name qdrantRagDB -p 6333:6333 -v "./qdrant_storage:/qdrant/storage" qdrant/qdrant